%container{:class => "wrapper fadeInDown"}
  %h2.text-center Welcome Tech's Message Rooms
  %br
  %small
    = link_to 'New message room', new_message_room_path, class: 'btn btn-primary btn-sx'

%table.table.cell-border{:role=>'datatable', :class =>'display responsive no-wrap table table-striped table-bordered', :style =>"width:100%"}
  %thead
    %tr
      %th Title
      %th Title
      %th Owner
      %th Date Created
      %th Action
  %tbody
    - @message_rooms.each do |message_room|
      %tr
        %td
          = message_room.get_room_name
        %td
          = message_room.get_room_name
        %td
          = message_room.owner
        %td
          = message_room.created_at
        %td
          = link_to "Enter", message_room_path(message_room), class: "btn btn-sm btn-primary"
          = link_to "Delete", message_room_path(message_room), class: "btn btn-sm btn-primary"
