%container{:class => "wrapper fadeInDown"}
  %h2.text-center Create New Message Room
  %br
  %small
    = link_to 'Back', message_rooms_path, class: 'btn btn-primary btn-sx'
    
= form_for @message_room do |f|
  .form-group
    = f.label :title
    = f.text_field :id, autofocus: true, class: 'form-control'

  = f.submit "Save", class: 'btn btn-primary'
